# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Usuario\4to Semestre\Laboratorio 4 -Magni\Semana 1\TP 1\PruebaIntelliJAppWEB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
